:root{
    --main-color: green;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--main-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#main-container {
    width: 100%;
    height: 100%;
}

.inner-container {
    width: 100%;
    max-width: 1000px;
    /*background-color: blue;*/
    margin: 0 auto;
    
}

#header {
    background: white;
    box-shadow: 0 0px 8px #fff;
    padding: ;
    height: 70px;
   

}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo h1 {
    color: black;
    font-size: 36px;
    margin: 0;
}
.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    margin-right: 5px;
}

.btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15%;
    padding: 5px 15px;
    font-size: 20px;
    margin: 0;
}

.btn:hover, .btn:focus {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: calc(100vh - 70px);
    text-align: center;
    
}

#main-section button {
    display: block;
    margin: 0 auto;
}

#main-header {
    font-size: 36px;
    background-color: black;
    display:inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}