* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-brown: #b09e99;
    --box-brown: #d7cecc;
    --main-green: #64b6ac;
    --main-grey: #6c757d;

}

#main-container {
    background-color: var(--main-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

#quote-box {
    background-color: var(--box-brown);
    color: var(--main-grey);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px;
}

#button {
    font-size: 26px;
    background-color: var(--main-green);
    border: none;
    padding: 15px 20px;
    color: white;
    box-shadow: 2px 2px  black;
}
#button:hover, #button:focus {
    background-color: var(--main-brown);
    color: black;
    cursor: pointer;
    
}

#button:focus {
    background-color: var(--main-brown);
    color: black;
    cursor: pointer;
    border: 2px dotted blue;
}

#main-text {
    font-size: 30px;
    line-height: 1.5;
    margin-top: 50px;
}

#author-name {
    color: var(--main-green);
    font-size: 24px;
    align-self: flex-end;
}